<header class="style-header" style="width: 100%;">
  <nav class="navbar navbar-expand-lg  style-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="">
        <img src="../assets/images/menu (1).png" alt="">
      </span>
    </button>
      
    <div class="col-lg-auto m-0 d-none d-sm-none d-md-none d-lg-block">
      <img class ="logo"src="../assets/images/logo.png" alt="">
    </div>
    <h1 class="col-lg-2 typography d-none d-sm-none d-md-none d-lg-block">Barbería La Lucha</h1>
    
    <div class="col-lg-8 collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sobre Nosotros <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Galeria <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Servicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Horario <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Contacto <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  
</header>

<section class="container-fluid">
  <div class="row">
    <img class="img-principal" src="../assets/images/1.jpg">
    <div class="mx-auto d-none d-sm-none d-md-block">
      <img class="logo-big" src="../assets/images/logo.png" > 
    </div>
  </div>
  
</section>

<section class="container d-none d-sm-none d-md-block d-lg-block" style="padding-left:  0%;">
  <div class="row">
    <div class="col-md-6">
      <img class="img-principal" src="../assets/images/principal.jpg">
    </div>
    <div class="mx-auto col-md-6">
      <hr>
      <img class="row mx-auto title-sobre_nosotros" src="../assets/images/sobre_Nosotros.png" alt="">
      <p class="sobre-nosotros-text"><br>Esta instalación también proporcionará actualizaciones<br> periódicas. No tiene que volver a esta página e instalar nuevamente (¡no funcionará!) Cuando se lance una nueva <br> versión de GIMP. En cambio, si su distribución y / o escritorio tiene un buen soporte para flatpak, debería proponer <br> realizar actualizaciones.cambio, si su distribución y / o escritorio tiene un buen soporte para flatpak, debería proponer realizar actualizaciones.<br> 
      </p>
      <hr>
    </div>
  </div>
</section> 

<section class="container-fluid d-block d-sm-block d-md-none" style=" margin: 0; padding: 0;">
  <div class="row img-principal-phone" style="width: 100%; margin-left: 0px;">
      <img class="mx-auto logo-big-phone" src="../assets/images/logo.png">
      <div class="container" style="position: relative; top: -15%;" >
        <div class="row">
          <img class="mx-auto title-sobre_nosotros" src="../assets/images/sobre_Nosotros.png" >
          <p class="sobre-nosotros-text-phone ml-2" style="width: 100%;"><br>Esta instalación también proporcionará actualizaciones<br> periódicas. No tiene que volver a esta página e instalar nuevamente (¡no funcionará!) Cuando se lance una nueva <br> versión de GIMP. En cambio, si su distribución y / o escritorio tiene un buen soporte para flatpak, debería proponer <br> realizar actualizaciones.<br> 
          </p>
        </div>
       
      </div >
      
  </div>
</section> 






